<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <title></title>
  </head>
  <body>
    <h2 class="page-title">Congratulations</h2>

    <div class="center-container">
      <h1><%= winner%>!</h1>
      <h4>with <%= points%> point(s)</h4>

      <form action="/">
        <button name="rematch" type="submit">Rematch</button>
      </form>
    </div>
  </body>
</html>
