* {
  background-color: #ffe5ec;
}

.page-title {
  text-align: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-container {
  display: flex;
  padding: 0px 2em;
}

.p1-container {
  width: 50%;
  border-right: solid 1px #2c5777;
  margin-right: 1em;
}

input {
  border: solid 1px #ff99b4;
  background-color: #ffccd9;
  border-radius: 5px;
  padding: 8px 4px;
}

input:focus {
  background-color: #ffccd9;
}

label.rps-choice-img img {
  width: 3em;
}

/* CSS from https://getcssscan.com/css-buttons-examples */
button {
  margin: 1em 0;
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  /* font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif; */
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  /* margin: 0; */
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}
